<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skyman.billiarddata">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_android_square_v1_196xxxh"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_android_round_v1_196xxxh"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AppInfoActivity"></activity>
        <activity android:name=".UserManagerActivity" />
        <activity android:name=".BilliardDisplayActivity" />
        <activity android:name=".BilliardInputActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>