<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skyman.billiarddata">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AppSettingActivity" />
        <activity android:name=".BilliardModifyActivity" />
        <activity android:name=".StatisticsManagerActivity" />
        <activity android:name=".AppInfoActivity" />
        <activity android:name=".UserManagerActivity" />
        <activity android:name=".BilliardDisplayActivity" />
        <activity android:name=".BilliardInputActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AdMob -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9668325238172702~5850877654" />
    </application>

</manifest>